body {
  background: blueviolet;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.container {
  max-width: 450px;
  background: #fff;
  margin: 40px auto;
  padding: 60px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-bottom: 40px;
  font-weight: 700;
}

#resetBtn {
  display: none;
}

h2 {
  margin-bottom: 40px;
  font-weight: 700;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.dice {
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px solid #f7aba2;
  border-radius: 6px;
  background: #f7aba2;
  color: black;
  padding: 10px 20px;
  font-size: 80px;
}

button {
  border: 1px solid goldenrod;
  border-radius: 6px;
  background: goldenrod;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
}

.active {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#player1Dice,
#player2Dice {
  font-family: Arial, Helvetica, sans-serif;
}

#rollBtn {
  margin: 0 auto;
}
